body{

background:#080808;
color:white;
font-family:tahoma;
margin:0;

}


.container{

max-width:450px;
margin:auto;
padding:20px;

}


.logo{

text-align:center;
color:#d4af37;

}


.logo h1{

font-size:35px;

}


.card{

background:#151515;
border:1px solid #d4af37;
border-radius:20px;
padding:20px;
margin-top:20px;
text-align:center;

}


select,input{

width:90%;
padding:12px;
margin:8px;
border-radius:10px;
border:none;

}


button{

background:#d4af37;
color:black;
border:none;
padding:12px 25px;
border-radius:15px;
font-weight:bold;
cursor:pointer;
margin:10px;

}


.score{

font-size:25px;
color:#d4af37;

}


.hidden{

display:none;

}


.rank{

padding:10px;
border-bottom:1px solid #444;

}
